body{
    background-image: url(cam\ 8_3.PNG);
    background-color: black;
   
    background-size:1690px 950px;
      background-repeat: no-repeat;
}
.a{
    background-color: rgba(5, 5, 5, 0.014);
    color: rgb(94, 93, 93);
    border: solid rgba(0, 0, 0, 0) 1px;
    
    width: 80px;
    height: 40px;
    font-size: 20px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;}
    .b{
        background-color: rgba(5, 5, 5, 0.014);
        color: rgb(94, 93, 93);
        border: solid rgba(0, 0, 0, 0) 1px;
        width: 80px;
        height: 40px;
        font-size: 20px;
        font-family: "Pixelify Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        margin-top: 850px;
        margin-left:1550px ;
    
      }
     