body{
    background-image: url(cam\ 4.jpg);
    background-color: black;
   
    background-size:1690px 950px;
      background-repeat: no-repeat;
} 
.a{
    background-color: rgba(5, 5, 5, 0.014);
    color: rgb(44, 44, 44);
    
    width: 80px;
    height: 40px;
    font-size: 20px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.b{
    margin-left:790px ;
    margin-top: 350px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(14, 5, 0, 0);
    border: solid rgba(255, 255, 255, 0) 1px;
    
}
.c{
    margin-left: 910px;
    margin-top: 110px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.747);
    border: solid rgba(255, 255, 255, 0) 1px;
}
.d{
margin-top: 214px;
margin-left: 490px;
background-color: rgba(0, 0, 0, 0);
color: rgba(255, 255, 255, 0);
border: solid rgba(255, 255, 255, 0) 1px;
}